{% extends "layout.html" %}
{% block Usuario%}{{nombre}}{% endblock %}
{% block titulo %}reseñas{% endblock %}
{%block heading%}

<h1></h1>

{%endblock%}




{%block body%}
{% if session.user_id %}
{{warning}}

<br><br><br><br>
<center>
<container>
  <h1>{{book.titulo}}</h1>
    <div class="row" >
      <div class="col-12 col-md-6 d-flex justify-content-center h-100">
          <img src="{{ book.imagen }}" class="card-img-top h-75" style="width: 30%;" alt="...">
      </div>
      <div class="col-12 col-md-6 ">
          <div class="d-flex justify-content-between" style="margin: 0 10%;">
            <h4>Author:</h4>
            <h5>{{ book.autor }}</h5>
          </div>
          <div class="d-flex justify-content-between" style="margin: 0 10%;">
            <h4>ISBN:</h4>
            <h5>{{book.isbn}}</h5>
          </div>
          <div class="d-flex justify-content-between" style="margin: 0 10%;">
            <h4>Year:</h4>
            <h5>{{book.year}}</h5>
          </div>
          <div class="d-flex justify-content-between" style="margin: 0 10%;">
            <h4> Nº de reseñas:</h4>
            <h5>{{contadorPuntos}}</h5>
          </div>
          <div class="d-flex justify-content-between" style="margin: 0 10%;">
            <h4>Puntuacion:</h4>
            <h5>{{promedioResenia}}</h5>
          </div>
          
      </div>

    </div>
    </center>
    <center>
    {% if get_flashed_messages() %}
    <header>
        <div class="alert alert-primary border text-center" role="alert">
            {{ get_flashed_messages() | join(" ") }}
        </div>
    </header>
{% endif %}
    <h5 style="margin-left:25px;">Escribe una reseña</h1>
    <form action="/resenia" method="post" class="formularioResenia">
    <div class="form-group w-75">
        <input autocomplete="off" autofocus class="form-control" name="book_comment" placeholder="escribe una reseña..." type="text">
    </div>
    <!--REFERENCE: Star Rating System: https://codepen.io/jamesbarnett/pen/vlpkh-->

      <fieldset class="rating">
        <input type="hidden" value="{{ book.idlibro }}" name="book_id">
        <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="5 Estrellas"></label>
        <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="4 Estrellas"></label>
        <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="3 Estrellas"></label>
        <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="2 Estrellas"></label>
        <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="1 Estrella"></label>
      </fieldset>

    <button id="review_button" type="submit">Enviar reseña</button>
    </form>
    
    {% if comments %}

      {% for comment in comments %}
      <div class="">
        <h4>puntaje: {{comment.puntaje}}</h4>
        <h4 >reseña de {{comment.nombre}}: {{comment.resenian}}</h4>
      </div>
      {% endfor %}


    {% else %}
    <div>

    </div>
    {% endif%}
    </center>

    </center>

</container>
{% endif %}
{% endblock %}