<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles.css">
    {% block CSSpersonalizado %} {% endblock %}
    <meta charset="utf-8">
    <title>{% block titulo %}{% endblock %}</title>
  </head>
  <body>
    {% if session.user_id %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light position-fixed z-3 w-100 d-flex justify-content-between">
      <div class="container ">
        <a class="navbar-brand" href="/home">BOOK</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navegacion justify-content-end links" id="navbarNavAltMarkup">
          <ul class="navbar-nav d-flex justify-content-center">
            <!-- <li class="nav-item">
              <a class="nav-link nav__link" href="#">Ubicacion</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav__link" href="#">Menu</a>
            </li> -->
            <li class="nav-item">
              <p class="nav-link nav__link">Bienvenido {% block Usuario%}{% endblock %}</p>
            </li>
            <li class="nav-item active">
              <a class="nav-link nav__link" href="/home">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav__link" href="/search">Buscar un libro</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link nav__link" href="/logout">Salir</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

{% else %}
<nav class="navbar navbar-expand-lg navbar-light bg-light position-fixed z-3 w-100 d-flex justify-content-between">
  <div class="container ">
    <a class="navbar-brand" href="./index.html">BOOK</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navegacion justify-content-end links" id="navbarNavAltMarkup">
      <ul class="navbar-nav d-flex justify-content-center">
        <!-- <li class="nav-item">
          <a class="nav-link nav__link" href="#">Ubicacion</a>
        </li>-->
        <li class="nav-item">
          <a class="nav-link nav__link" href="/">Iniciar sesion</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link nav__link" href="/register">Registrarse</a>
        </li>
        <!-- <li class="nav-item active">
          <a class="nav-link nav__link" href="/search">Buscar</a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>

{% endif %}


    {%block heading%}{%endblock%}

    {%block body%}{%endblock%}

<br><br><br>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>