{% extends "layout.html" %}


{% block titulo %}Registro{% endblock %}

{%block body%}
<br>
<br>
<br>
<br>
<br>
{% if get_flashed_messages() %}
    <header>
        <div class="alert alert-primary border text-center" role="alert">
            {{ get_flashed_messages() | join(" ") }}
        </div>
    </header>
{% endif %}

<center>
<h3>Registrarse</h3>
<form action="/register" method="post">
     <div class="form-group">
         <input style="width:300px;" autocomplete="off" autofocus class="form-control" name="username" placeholder="Usuario" type="text">
     </div>
     <br>
     <div class="form-group">
         <input style="width:300px;" class="form-control" name="password" placeholder="Contraseña" type="password">
     </div>
     <br>
     <div class="form-group">
        <input style="width:300px;" class="form-control" name="confirm_password" placeholder="Confirmar Contraseña" type="password">
    </div>
    <br>
     <button id="review_button" type="submit">Registrarse</button>
 </form>
</center>



{% endblock %}