{% extends "layout.html" %}
{% block Usuario%}{{nombre}}{% endblock %}
{% block titulo %}libros{% endblock %}
{%block heading%}
{%endblock%}


{% block body %}
{% if session.user_id %}
{{ warning }}

<container>
    <div id="info_div">
        <center>
            <br><br>
            <br><br>
        </center>
        <center>
            <form action="/search" method="post">
                <h2>Buscar un libro</h2>
                <div class="input-group mb-3">
                    <input type="text" name="busqueda" class="form-control" placeholder="ISBN de el libro, el título de el libro, o el autor de un libro" aria-label="Recipient's username" type="text" aria-describedby="button-addon2">
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Button</button>
                </div>
            </form>
        </center>
    </div>
</container>

{% if libros %}
<center>
    <div class="row">
        {% for libro in libros %}
            <div class="col-12 col-md-2 col-sm-6">
                <div class="card">
                    <img src="{{ libro.imagen }}" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">{{ libro.titulo }}</h5>
                        <p class="card-text">{{ libro.autor }}</p>
                        <a href="./infoLibro.html" class="btn btn-primary">Mas informacion</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</center>
{% else %}
    <h1>No se encontraron resultados.</h1>
{% endif %}
{% endif %}
{% endblock %}